In [ ]:
#Install required library
!pip install mlxtend
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules
import warnings
warnings.filterwarnings('ignore')

In [ ]:
 # Load the dataset
df = pd.read_csv(r"C:\Users\durwa\Downloads\Copy of Online retail data.csv")
df

In [30]:
df.describe()

       products
count      7500
unique     5175
top     cookies
freq        223

In [31]:
df.isnull().sum()

products    0
dtype: int64

In [3]:
df.columns

Index(['products'], dtype='object')

In [4]:
df.iloc[[0]]

                 products
0  burgers,meatballs,eggs

In [5]:
txt = 'burgers,meatballs,eggs'
type(txt)
txt.split('/')

['burgers,meatballs,eggs']

In [6]:
def txt_split(txt):
    return txt.split(',')

In [7]:
txt_split('python,session,machine,learning')

['python', 'session', 'machine', 'learning']

In [8]:
df.products.head()

0                               burgers,meatballs,eggs
1                                              chutney
2                                       turkey,avocado
3    mineral water,milk,energy bar,whole wheat rice...
4                                       low fat yogurt
Name: products, dtype: object

In [9]:
data = df['products'].apply(txt_split)
data

0                              [burgers, meatballs, eggs]
1                                               [chutney]
2                                       [turkey, avocado]
3       [mineral water, milk, energy bar, whole wheat ...
4                                        [low fat yogurt]
                              ...
7495                    [butter, light mayo, fresh bread]
7496    [burgers, frozen vegetables, eggs, french frie...
7497                                            [chicken]
7498                                [escalope, green tea]
7499    [eggs, frozen smoothie, yogurt cake, low fat y...
Name: products, Length: 7500, dtype: object

In [10]:
from mlxtend.preprocessing import TransactionEncoder

In [11]:
te = TransactionEncoder()
encoded_df = te.fit_transform(data)

In [12]:
encoded_df

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False,  True, False]])

In [13]:
te.columns_

[' asparagus',
 'almonds',
 'antioxydant juice',
 'asparagus',
 'avocado',
 'babies food',
 'bacon',
 'barbecue sauce',
 'black tea',
 'blueberries',
 'body spray',
 'bramble',
 'brownies',
 'bug spray',
 'burger sauce',
 'burgers',
 'butter',
 'cake',
 'candy bars',
 'carrots',
 'cauliflower',
 'cereals',
 'champagne',
 'chicken',
 'chili',
 'chocolate',
 'chocolate bread',
 'chutney',
 'cider',
 'clothes accessories',
 'cookies',
 'cooking oil',
 'corn',
 'cottage cheese',
 'cream',
 'dessert wine',
 'eggplant',
 'eggs',
 'energy bar',
 'energy drink',
 'escalope',
 'extra dark chocolate',
 'flax seed',
 'french fries',
 'french wine',
 'fresh bread',
 'fresh tuna',
 'fromage blanc',
 'frozen smoothie',
 'frozen vegetables',
 'gluten free bar',
 'grated cheese',
 'green beans',
 'green grapes',
 'green tea',
 'ground beef',
 'gums',
 'ham',
 'hand protein bar',
 'herb & pepper',
 'honey',
 'hot dogs',
 'ketchup',
 'light cream',
 'light mayo',
 'low fat yogurt',
 'magazines',
 'mashed potato',
 'mayonnaise',
 'meatballs',
 'melons',
 'milk',
 'mineral water',
 'mint',
 'mint green tea',
 'muffins',
 'mushroom cream sauce',
 'napkins',
 'nonfat milk',
 'oatmeal',
 'oil',
 'olive oil',
 'pancakes',
 'parmesan cheese',
 'pasta',
 'pepper',
 'pet food',
 'pickles',
 'protein bar',
 'red wine',
 'rice',
 'salad',
 'salmon',
 'salt',
 'sandwich',
 'shallot',
 'shampoo',
 'shrimp',
 'soda',
 'soup',
 'spaghetti',
 'sparkling water',
 'spinach',
 'strawberries',
 'strong cheese',
 'tea',
 'tomato juice',
 'tomato sauce',
 'tomatoes',
 'toothpaste',
 'turkey',
 'vegetables mix',
 'water spray',
 'white wine',
 'whole weat flour',
 'whole wheat pasta',
 'whole wheat rice',
 'yams',
 'yogurt cake',
 'zucchini']

In [14]:
data = pd.DataFrame(encoded_df, columns=te.columns_)
data

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [15]:
# data.replace(True,1,inplace=True)
# data.replace(False,0,inplace=True)
# data

data.replace([True,False],[1,0], inplace=True)

In [16]:
data

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [17]:
data.shape

(7500, 120)

In [28]:
scores = apriori(data,min_support = 0.01, use_colnames=True)
scores

      support                                 itemsets
0    0.020267                                (almonds)
1    0.033200                                (avocado)
2    0.010800                         (barbecue sauce)
3    0.014267                              (black tea)
4    0.011467                             (body spray)
..        ...                                      ...
254  0.011067       (milk, mineral water, ground beef)
255  0.017067  (mineral water, ground beef, spaghetti)
256  0.015733         (milk, mineral water, spaghetti)
257  0.010267    (olive oil, mineral water, spaghetti)
258  0.011467     (pancakes, mineral water, spaghetti)

[259 rows x 2 columns]

In [29]:
rules = association_rules(scores)
rules

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []

In [27]:
rules.sort_values(by = 'lift', ascending=False)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []

Interview Questions:
1.	What is lift and why is it important in Association rules?
-->> 
Lift is a measure used in association rule mining to evaluate the strength of a rule over the baseline expectation of the rule. It is defined as the ratio of the observed support of the rule to the expected support if the antecedent and consequent were independent of each other. Mathematically, it is expressed as:
Lift(A→C)=Support(A)×Support(C)Support(A∪C)​
Where:

Support(A ∪ C) is the support of both A and C occurring together.
Support(A) is the support of A.
Support© is the support of C.

Importance of Lift:

Identifying Strong Associations: Lift helps in identifying strong associations between items. A lift value greater than 1 indicates a positive correlation, meaning the occurrence of A increases the likelihood of C occurring. Conversely, a lift value less than 1 indicates a negative correlation1.
Filtering Rules: It helps in filtering out less interesting rules. Rules with a lift value close to 1 suggest that the antecedent and consequent are almost independent of each other, making the rule less interesting2.
Improving Decision Making: By focusing on rules with higher lift values, businesses can make better decisions in areas like market basket analysis, recommendation systems, and targeted marketing


2.	What is support and Confidence. How do you calculate them?
-->> 
Support and Confidence are two fundamental metrics used in association rule mining to evaluate the strength and relevance of rules.
Support
Support measures how frequently an itemset appears in the dataset. It is defined as the proportion of transactions in the dataset that contain the itemset. Mathematically, it is expressed as:
Support(A)=Total number of transactionsNumber of transactions containing A​
For example, if you have a dataset of 1000 transactions and the itemset {milk, bread} appears in 100 of those transactions, the support for {milk, bread} is:
Support({milk,bread})=1000100​=0.1 or 10%
Confidence
Confidence measures the reliability of the inference made by a rule. It is defined as the proportion of transactions containing the antecedent that also contain the consequent. Mathematically, it is expressed as:
Confidence(A→B)=Support(A)Support(A∪B)​
For example, if the itemset {milk, bread} appears in 100 transactions and {milk} appears in 200 transactions, the confidence for the rule “If a customer buys milk, they will also buy bread” is:
Confidence({milk}→{bread})=200100​=0.5 or 50%
Importance

Support helps in identifying how frequently an itemset appears in the dataset, which is useful for finding frequent itemsets.
Confidence helps in determining the strength of the association rule, indicating how often the rule has been found to be true.




3.	What are some limitations or challenges of Association rules mining?

-->> Association rule mining is a powerful technique for discovering interesting relationships between variables in large datasets. However, it comes with several limitations and challenges:

Limitations and Challenges
Scalability:
Large Datasets: As the size of the dataset grows, the number of possible itemsets increases exponentially, making the computation of frequent itemsets and association rules very resource-intensive.
High Dimensionality: Datasets with a large number of items can lead to a combinatorial explosion of possible itemsets, making it difficult to manage and analyze.
Interpretability:
Too Many Rules: Generating a large number of rules can overwhelm users, making it difficult to identify the most interesting and actionable rules.
Redundant Rules: Many rules may be redundant or trivial, providing little new information.
Quality of Rules:
Support and Confidence Limitations: High support and confidence do not always imply interesting or useful rules. For example, a rule might have high support and confidence but still be obvious or uninteresting.
Lift and Conviction: While additional metrics like lift and conviction can help, they also have limitations and may not always capture the true interestingness of a rule.
Data Quality:
Noisy Data: Real-world data often contains noise, missing values, or errors, which can affect the quality of the generated rules.
Sparse Data: In datasets where many items are infrequently purchased, it can be challenging to find meaningful associations.
Domain Knowledge:
Contextual Relevance: Without domain knowledge, it can be difficult to interpret the significance of certain rules. Domain experts are often needed to validate and make sense of the discovered rules.
Algorithmic Complexity:
Algorithm Selection: Choosing the right algorithm (e.g., Apriori, FP-Growth) and tuning its parameters can be complex and requires expertise.
Computational Cost: Some algorithms may be computationally expensive, requiring significant processing power and memory.
Addressing the Challenges
Pruning Techniques: Use pruning techniques to reduce the number of candidate itemsets and rules.
Advanced Metrics: Incorporate additional metrics like lift, leverage, and conviction to better evaluate the interestingness of rules.
Data Preprocessing: Clean and preprocess data to reduce noise and handle missing values.
Expert Involvement: Involve domain experts to interpret and validate the rules.