In [1]:
import pandas as pd

In [2]:
x = pd.DataFrame({
    'Satisfaction':['Very Satisfied','Satisfied','Neutral','Unsatisfied','Very Unsatisfied','Total'],
    'Smart Thermostat':[50,80,60,30,20,240],
    'Smart Light':[70,100,90,50,50,360],
    'Total':[120,180,150,80,70,600]
})

In [3]:
# Observed Frequency Table
x

       Satisfaction  Smart Thermostat  Smart Light  Total
0    Very Satisfied                50           70    120
1         Satisfied                80          100    180
2           Neutral                60           90    150
3       Unsatisfied                30           50     80
4  Very Unsatisfied                20           50     70
5             Total               240          360    600

In [12]:
# Expected Frequency
# Expected Frequency for (Smart Thermostat):
E11 = (240*120)/600

In [18]:
for i in x['Total']:
   print((240*i)/600)

48.0
72.0
60.0
32.0
28.0
240.0

In [19]:
# Expected Frequency for (Smart Light):
E12 = (360*120)/600

In [21]:
for i in x['Total']:
    print((360*i)/600)

72.0
108.0
90.0
48.0
42.0
360.0

In [23]:
# Expected Frequency Table
pd.DataFrame({
    'Satisfaction':['Very Satisfied','Satisfied','Neutral','Unsatisfied','Very Unsatisfied'],
    'Smart Thermostat':[48.0,72.0,60.0,32.0,28.0],
    'Smart Light':[72.0,108.0,90.0,48.0,42.0]
})

       Satisfaction  Smart Thermostat  Smart Light
0    Very Satisfied              48.0         72.0
1         Satisfied              72.0        108.0
2           Neutral              60.0         90.0
3       Unsatisfied              32.0         48.0
4  Very Unsatisfied              28.0         42.0

1]. State the Hypothesis:-
        
    H0(Null Hypothesis):- There is no significant association between the type of smart home device purchased (Smart Thermostats vs. Smart Lights) 
    and the customer satisfaction level. 
    HA(Alternate Hypothesis):- There is a significant association between the type of smart home device purchased (Smart Thermostats vs. Smart Lights)
    and the customer satisfaction level.

In [50]:
# Observed Frequency 
Observed_Freq = [50,70,80,100,60,90,30,50,20,50]

In [51]:
# Expected Frequency
Expected_Freq = [48,72,72,108,60,90,32,48,28,42]

In [52]:
import numpy as np
import scipy.stats as stat

In [53]:
chisquare_test_statistics,p_value = stat.chisquare(Observed_Freq,Expected_Freq)

In [55]:
# 2]. Compute the Chi-Square Statistic:
chisquare_test_statistics,p_value

(5.638227513227513, 0.7755084888723772)

In [61]:
# 3]. Determine the Critical Value:
# Using the significance level (alpha) of 0.05 and the degrees of freedom (which is the number of categories minus 1)
significance_level = 0.05
dof = 4
Critical_value = stat.chi2.ppf(1-significance_level,dof)
Critical_value

9.487729036781154

In [62]:
# 4]. Make a Decision:
if chisquare_test_statistics > Critical_value:
    print('Reject the null hypothesis')
else:
    print('Fail to reject null hypothesis')

Fail to reject null hypothesis

# Conclusion:-
There is no significant association between the type of smart home device purchased (Smart Thermostats vs. Smart Lights) 
 and the customer satisfaction level.